[merge]
        tool = p4merge
[mergetool "p4merge"]
        cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
        trustExitCode = true

[diff]
        tool = p4merge
[difftool "p4merge"]
        cmd = p4merge "$LOCAL" "$REMOTE"

[mergetool]
        prompt = false
        keepBackup = false
        keepTemporaries = false
[difftool]
        prompt = false